*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(200, 193, 193, 0.322);
    border-radius: 50px;
    margin: 8px;
}
.left{
    display: flex;
    gap: 20px;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
img{
    rotate: -90deg;
}
.home{
    display: flex;
    gap: 10px;
    font-weight: bold;
}
.right{
    display: flex;
    gap: 10px;
    align-items: center;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.sign-up{
    border: 1px solid gold;
    border-radius: 50px;
    padding:3px 10px;
}
.sign-up:hover{
    background-color: gold;
}
